[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "public"]
	path = public
	url = git@github.com:tanteng/tanteng.github.io.git
[submodule "themes/even"]
	path = themes/even
	url = git@github.com:olOwOlo/hugo-theme-even.git
