[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "content"]
	path = content
	url = git@github.com:tanteng/tanteng.github.io.markdown.git
[submodule "public"]
	path = public
	url = git@github.com:tanteng/tanteng.github.io.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
